.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 15%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 61%
    right: 80%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 52%

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  

.banner-principal .tarjeta
  background-position: left 50% !important
.banner-principal__row .banner-principal__img
  width: 430px !important  
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.banner-interno__titulo__icono i
  color: $color-primario
figcaption
  font-weight: normal

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white


.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/fondo-banner-principal-tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white

.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner_interno.png") !important
.titulo-principal.color-acento-contenido .titulo-principal__numero 
  background-color: #212529

.bg1
  background-color: #A8D08D
  width: fit-content
  border-radius: 20px
.bg2
  background-color: #B6C1C6
.bg3
  background-color: #99CAE5
.bg4
  background-color: #EDF0F1
.titulo-segundo:after 
  border-left-color: #EDEDED
  background-color: #007CBE

.cambiartarjeta 
  background-image: url('../assets/curso/Tema1/verde.png')
  background-size: 100% 100%
  background-repeat: no-repeat
  background-position: center
  border-radius: 20px
  color: black

  &:hover 
    background-image: url('../assets/curso/Tema1/gris.png')
    color: white

    /* FORZAR TODO EL TEXTO */
    p,
    b,
    ul,
    li,
    span 
      color: white !important  
    img 
      filter: brightness(0) invert(1)
  
.img-t
  width: auto
  height: auto
.img-a
  display: block
  margin: auto
.lista-ul--color li > i:first-of-type 
  color: #87A771

// Tabla personalizada 

/* Tabla base SENA */
.tabla-b table 
  width: 100%
  border-collapse: collapse

.tabla-b th,
.tabla-b td 
  border: 1px solid #e0e0e0
  padding: 8px
  vertical-align: middle
/* Celdas */
.tabla-b th,
.tabla-b td 
  border: 1px solid #e0e0e0
  padding: 8px
  background-color: #ffffff
/* Filas con altura fija */
.tabla-b tr 
  height: 50px
/* Encabezados */
.tabla-b thead th 
  background-color: #e9ecef
  font-weight: 600
  text-align: center

/* Primera columna (verde SENA) */
.tabla-b tbody td:first-child 
  background-color: #F6FAF4
  font-weight: 600
  text-align: left

/* Texto alineado a la izquierda */
.tabla-b tbody td 
  text-align: left

/* Altura uniforme */
.tabla-b td 
  height: 38px


/* Bloques del cronograma */
.bloque 
  display: inline-block
  width: 10px
  height: 10px
  margin-right: 2px
  background-color: #1f2d3d
